In [1]:
import numpy as np

In [4]:
vendas_anos = np.array([[149, 499, 112, 430, 115, 390, 187, 316, 361, 483, 353, 400],
                        [258, 222, 461, 263, 384, 210, 452, 372, 417, 364, 468, 397],
                        [259, 329, 417, 132, 318, 256, 362, 496, 232, 132, 306, 174],
                        [117, 148, 480, 201, 160, 292, 146, 209, 298, 215, 358, 234],
                        [169, 229, 381, 119, 225, 270, 379, 272, 167, 332, 144, 359],
                        [358, 434, 228, 300, 122, 247, 142, 127, 191, 356, 450, 308],
                        [105, 251, 317, 147, 214, 280, 289, 338, 498, 133, 304, 225],
                        [156, 165, 299, 461, 290, 123, 451, 450, 353, 191, 167, 451],
                        [149, 377, 389, 176, 103, 439, 269, 132, 200, 391, 426, 175],
                        [137, 107, 229, 227, 198, 206, 432, 169, 323, 141, 155, 233]])

print(vendas_anos.shape) # anos x mÃªs

(10, 12)

## Sales and Month Means

Supose that you are requested to calculate the sales mean among each year and the sales mean among each month.

In [9]:
def calculate_sales_mean_among_years(sales_data):
    amount_of_years = sales_data.shape[0]
    mean_of_sales_of_all_years = []
    
    for i in range(amount_of_years):
        sales_on_current_year = sales_data[i, :]
        mean_of_sales_on_current_year = sales_on_current_year.mean()
        mean_of_sales_of_all_years.append(mean_of_sales_on_current_year)
    
    return mean_of_sales_of_all_years

In [28]:
sales_mean_among_years = calculate_sales_mean_among_years(vendas_anos)
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
for index, mean in enumerate(sales_mean_among_years):
    print(f'{years[index]}: {mean}')

2011: 316.25
2012: 355.6666666666667
2013: 284.4166666666667
2014: 238.16666666666666
2015: 253.83333333333334
2016: 271.9166666666667
2017: 258.4166666666667
2018: 296.4166666666667
2019: 268.8333333333333
2020: 213.08333333333334

In [16]:
def calculate_sales_mean_among_months(sales_data):
    months = sales_data.shape[1]
    mean_of_sales_among_months = []
    
    for month_index in range(months):
        sales_per_month = sales_data[:, month_index]
        mean_of_sales_per_month = sales_per_month.mean()
        mean_of_sales_among_months.append(mean_of_sales_per_month)
        
    return mean_of_sales_among_months

In [21]:
sales_mean_among_months = calculate_sales_mean_among_months(vendas_anos)

for index, mean in enumerate(sales_mean_among_months):
    print(f'{months[index]}: {mean}')

January: 185.7
February: 276.1
March: 331.3
April: 245.6
May: 212.9
June: 271.3
July: 310.9
August: 288.1
September: 304.0
October: 273.8
November: 313.1
December: 295.6

In [23]:
print(f'Sales mean among years: {vendas_anos.mean(axis=1)}')
print(f'Sales mean among months: {vendas_anos.mean(axis=0)}')

Sales mean among years: [316.25       355.66666667 284.41666667 238.16666667 253.83333333
 271.91666667 258.41666667 296.41666667 268.83333333 213.08333333]
Sales mean among months: [185.7 276.1 331.3 245.6 212.9 271.3 310.9 288.1 304.  273.8 313.1 295.6]

What was the greatest sale among all years?

**obs**: axis=0 -> among rows; aixs=1 -> among collumns
    
      ---------> 1
    | [1, 2, 3]
    | [4, 5, 6]
    | [7, 8, 9]
    0

In [25]:
print(f'Sum of sales of all years: {vendas_anos.sum(axis=1)}')
print(f'Greatest sale of all years: {max(vendas_anos.sum(axis=1))}')

Sum of sales of all years: [3795 4268 3413 2858 3046 3263 3101 3557 3226 2557]
Greatest sale of all years: 4268

Now, what's the greatest sale of all months?

In [27]:
print(f'Sum of sales of all months: {vendas_anos.sum(axis=0)}')
print(f'Greatest sale of all months: {max(vendas_anos.sum(axis=0))}')

Sum of sales of all months: [1857 2761 3313 2456 2129 2713 3109 2881 3040 2738 3131 2956]
Greatest sale of all months: 3313